
<%= render 'link_form' %>
<% if flash[:new_link] %>
  <div class="link-new text-center">
    <p>Your new link : <strong><%= link_to flash[:new_link], @link_latest, target: '_blank' %></strong></p>
    <% unless user_signed_in? %>
      <p><%= link_to "Register here", new_user_registration_path %> if you want to manage your shortened links.</p>
    <% end %>
  </div>
<% end %>

<div class="link-all ">
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Links</th>
      </tr>
    </thead>
    <% @links.each do |link| %>
    <tbody>
      <tr>
        <td>
          <div class="pull-left">
            <%= link_to display_new_short_link(link.short_link), link.short_link, target: '_blank'  %>
          </div>
          <div class="pull-right">
            <p class="link-user-createdat"><%= get_creators_name(link) %> <%= link_date(link) %></p>
          </div>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>
