
<%= render 'link_form' %>
<% if flash[:new_link] %>
  <div class="link-new text-center">
    <p>Your new link : <strong><%= link_to flash[:new_link], @link_latest, target: '_blank' %></strong></p>
    <% unless user_signed_in? %>
      <p><%= link_to "Register here", new_user_registration_path %> if you want to manage your shortened links.</p>
    <% end %>
  </div>
<% end %>

<div class="link-all">
<%= render 'my_all_links' %>
<%= render 'all_links' %>
</div>
